<% unless all_comments.none? {|comment2| comment2.parent_comment == comment } %>
<ul>
  <% all_comments.each do |child_comment| %>
		<% next unless child_comment.parent_comment_id == comment.id %>
  <br>
	<li><%= child_comment.content %><br>
    -----posted by <%= child_comment.author.username %> at <%= child_comment.created_at %><%= delete_comment(child_comment) %><br>
		<%= render partial: "shared/comment", locals: {comment: child_comment, all_comments: all_comments} %></li>
  <% end %>
</ul>
<% end %>