<h1><%= @post.title %></h1>

<%= @post.content %>

<br>

Posted by <%= @post.author.username %> at <%= @post.created_at %>

<br>

<% if current_user == @post.author %>
	<a href="<%= edit_post_url(@post) %>">Edit post!</a>
<% end %>

<br>

<ul>
	<% @all_comments.each do |comment| %>
		<% next unless comment.parent_comment_id.nil? %>
			<li><a href="<%= comment_url(comment) %>"><%= comment.content %></a>
				<br>
				-----posted by <%= comment.author.username %> at <%= comment.created_at %>
				<br>
				<%= render partial: "shared/comment", locals: {comment: comment} %>

			</li>
			<br>
	<% end %>
</ul>

<a href="<%= new_post_comment_url(@post) %>">Add a Comment</a>
